<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418222978339-rs61j5s27nmb4438phunpttl1ei6e11e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418222978339-rs61j5s27nmb4438phunpttl1ei6e11e</string>
	<key>API_KEY</key>
	<string>AIzaSyAESi_t8oC4YOLXQF8KPpVJEPlGdAAmFYg</string>
	<key>GCM_SENDER_ID</key>
	<string>418222978339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iouV2</string>
	<key>PROJECT_ID</key>
	<string>ioweyou-78312</string>
	<key>STORAGE_BUCKET</key>
	<string>ioweyou-78312.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418222978339:ios:5d94f5bfa83588a7bec896</string>
	<key>DATABASE_URL</key>
	<string>https://ioweyou-78312.firebaseio.com</string>
</dict>
</plist>